/* MVP.css v1.6.3 - https://github.com/andybrewer/mvp */
@import url(mvp.css);
:root {
  --border-radius: 0;
  --box-shadow: 0;
  /* 2px 2px 10px; */
  --color: #118bee;
  --color-accent: #118bee15;
  --color-bg: rgb(255, 255, 255);
  --color-bg-secondary: #aaa;
  --color-secondary: #920de9;
  --color-secondary-accent: #920de90b;
  --color-shadow: #f4f4f4;
  --color-text: #000;
  --color-text-secondary: #999;
  --font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  --font-mono: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  --hover-brightness: 1.2;
  --justify-important: space-between;
  --justify-normal: left;
  --line-height: 1.5;
  --width-card: 215px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 1080px; }

/*
@media (prefers-color-scheme: dark) {
    :root {
        --color: #0097fc;
        --color-accent: #0097fc4f;
        --color-bg: #333;
        --color-bg-secondary: #555;
        --color-secondary: #e20de9;
        --color-secondary-accent: #e20de94f;
        --color-shadow: #bbbbbb20;
        --color-text: #f7f7f7;
        --color-text-secondary: #aaa;
    }
}
*/
* {
  box-sizing: border-box; }

/*
https://www.codeinwp.com/snippets/sticky-footer-with-css/
https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Sticky_footers
*/
body {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

header, footer {
  width: 100%; }

main {
  flex: 1;
  width: 100%;
  min-height: calc(100vh - 150px); }

h1 {
  font-size: 6.25rem;
  margin-top: 0;
  line-height: 1;
  letter-spacing: -.04em; }

header {
  padding: 0 1rem; }

footer {
  height: 100vh;
  max-width: none;
  width: 100%;
  color: white;
  background-color: #000000;
  border-top: 1px solid black; }
  footer .content {
    max-width: var(--width-content);
    margin: 0 auto; }

nav {
  margin-bottom: 0; }

.a-content {
  margin-left: 20%;
  max-width: 42rem;
  line-height: 1.625; }

#image {
  margin-bottom: 4rem; }

.lighter {
  color: #999; }

.maybenot {
  display: none; }

section aside {
  margin: 0rem 0 7.2rem 0rem;
  padding: 0;
  border: 0; }
  section aside h3 {
    font-size: 24px; }
  section aside a {
    color: black;
    border-bottom: 3px solid white; }
    section aside a:hover {
      border-bottom: 3px solid #fff44b; }

ul.tags {
  list-style-type: none;
  padding: 0; }
  ul.tags li {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 2px 12px;
    margin: 3px 6px 3px 0; }
    ul.tags li a {
      color: white; }
